<div style="padding: 20px;">
	<h2 style="color: blue">Witaj w osmo CRM</h2>
	<nav>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Uczestnicy</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Instruktorzy</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Warsztaty</a>
		<a routerLink="add"	class="btn btn-primary active" role="button" routerLinkActive="active">Dodaj uczestnika</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Dodaj instruktora</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Dodaj warsztat</a>
		<a routerLink="findbylastname"	class="btn btn-primary active" role="button" routerLinkActive="active">Szukaj...</a>
	</nav>
	<router-outlet></router-outlet>
</div>
